<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>StringsTable</key>
    <string>Root</string>
    <key>PreferenceSpecifiers</key>
    <array>
        <!-- API SETTINGS -->
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>API Settings</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTextFieldSpecifier</string>
            <key>Title</key>
            <string>API ID</string>
            <key>Key</key>
            <string>api_id_preference</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTextFieldSpecifier</string>
            <key>Title</key>
            <string>API Key</string>
            <key>Key</key>
            <string>api_key_preference</string>
        </dict>
        
        <dict>
                    <key>File</key>
                    <string>https://github.com/ElizabethEmilia/MiyukiTranslator-MacOS/blob/master/docs/guidance-obtain-account.en.md</string>
                    <key>Title</key>
                    <string>What's APP ID and how to obtain?</string>
                    <key>Type</key>
                    <string>IASKOpenURLSpecifier</string>
                    <key>IASKTextAlignment</key>
                    <string>IASKUITextAlignmentCenter</string>
        </dict>
        
        <!-- TRANSLATE INTO -->
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>API Settings</string>
        </dict>
        
        <dict>
                    <key>Values</key>
                    <array>
                        <integer>0</integer>
                        <integer>1</integer>
                        <integer>2</integer>
                        <integer>3</integer>
                        <integer>4</integer>
                        <integer>5</integer>
                        <integer>6</integer>
                        <integer>7</integer>
                        <integer>8</integer>
                        <integer>9</integer>
                        <integer>10</integer>
                        <integer>11</integer>
                        <integer>12</integer>
                        <integer>13</integer>
                        <integer>14</integer>
                        <integer>15</integer>
                        <integer>16</integer>
                        <integer>17</integer>
                        <integer>18</integer>
                        <integer>19</integer>
                        <integer>20</integer>
                        <integer>21</integer>
                        <integer>22</integer>
                        <integer>23</integer>
                        <integer>24</integer>
                        <integer>25</integer>
                        <integer>26</integer>
                    </array>
                    <key>Titles</key>
                    <array>
                        <string>Chinese</string>
                        <string>English</string>
                        <string>Cantonese</string>
                        <string>Classical Chinese</string>
                        <string>Japanese</string>
                        <string>Korean</string>
                        <string>French</string>
                        <string>Spanish</string>
                        <string>Thai</string>
                        <string>Arabic</string>
                        <string>Russian</string>
                        <string>Portuguese</string>
                        <string>German</string>
                        <string>Italian</string>
                        <string>Greek</string>
                        <string>Dutch</string>
                        <string>Polish</string>
                        <string>Bulgarian</string>
                        <string>Estonian</string>
                        <string>Danish</string>
                        <string>Finnish</string>
                        <string>Czech</string>
                        <string>Romanian</string>
                        <string>Slovenian</string>
                        <string>Swedish</string>
                        <string>Hungary</string>
                        <string>Traditional Chinese</string>
                    </array>
                    <key>Type</key>
                    <string>PSMultiValueSpecifier</string>
                    <key>Title</key>
                    <string>Translate Into</string>
                    <key>Key</key>
                    <string>trabslate_into_preference</string>
                    <key>DefaultValue</key>
                    <integer>0</integer>
                    <key>DisplaySortedByTitle</key>
                    <true/>
        </dict>
        
        <!-- Trabslate from Chinese -->
        <dict>
                    <key>Type</key>
                    <string>PSRadioGroupSpecifier</string>
                    <key>Title</key>
                    <string>Translate From Chinese</string>
                    <key>Key</key>
                    <string>trabslate_from_chinese_preference</string>
                    <key>DefaultValue</key>
                    <integer>0</integer>
                    <key>Values</key>
                    <array>
                        <integer>0</integer>
                        <integer>1</integer>
                    </array>
                    <key>Titles</key>
                    <array>
                        <string>Do not translate</string>
                        <string>Translate into language selected</string>
                    </array>
        </dict>
        
        <!-- translate into Chinese -->
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>Translate into Chinese</string>
        </dict>
        
        <dict>
                    <key>Type</key>
                    <string>PSToggleSwitchSpecifier</string>
                    <key>Title</key>
                    <string>Look up in English-Chinese dictionary</string>
                    <key>Key</key>
                    <string>lookup_dictionary_preference</string>
                    <key>DefaultValue</key>
                    <true/>
        </dict>
        
        <!-- SOURCE CODE -->
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>SOURCE CODE</string>
        </dict>
        <dict>
                    <key>File</key>
                    <string>https://github.com/ElizabethEmilia/MiyukiTranslator-iOS</string>
                    <key>Title</key>
                    <string>View source code on GitHub</string>
                    <key>Type</key>
                    <string>IASKOpenURLSpecifier</string>
        </dict>
        
        
    </array>
</dict>
</plist>
